.App {
  text-align: center;
}
body {
  background-color: #ada65cfc;
}
/* .backgroundColor {
  background-color: #d7fdf89c;
} */
/* .headerBg {
  background-color: #331270;
} */

.textLine {
  text-decoration-line: overline;
}

.textLink {
  text-decoration: none;
}
